<!DOCTYPE html>
<html ng-app="ridesmart">
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' 
            data: gap: https://ssl.gstatic.com 'unsafe-eval'; 
            style-src 'self' 'unsafe-inline'; img-src 'self' data: blob: cdvphotolibrary:">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <title>RideSmart App</title>
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
        <!-- your app's js -->
        <script src="js/app.js"></script>

    </head>
    <body>  
    <script type="text/javascript" src="js/index.js"></script>
<!--       <ion-header-bar id="headerbground" class="bar-dark ezar">     
      </ion-header-bar> -->
      
      <!-- abs position title above header. Allow header to be semi-transparent
           without applying to title -->
<!--       <div id="title" class="title">ezAR Ionic</div> -->
      
      <ion-content scroll="false">
        <div id="controls">
            <div id="face0" class="face"></div>
            <div id="face1" class="face"></div>
            <div id="face2" class="face"></div>
            <div id="face3" class="face"></div>
            <div id="face4" class="face"></div>
        </div>  
      </ion-content>

      <div id="footerbground" class="bar bar-dark ezar ezar-footer"></div>
        <label id="maskselection" class="item item-input item-select mask-selection-pane">
            <div class="input-label text-white">
            Select Mask
            </div>
            <select class="mask-selection-pane text-white">
                <option selected>Ridesmart Shades</option>
                <option>Anonymous</option>
            </select>
        </label>
      <button id="snapshot" class="button button-large" ng-click="snapshot()"><i class="icon ion-camera camera-icon"></i></button>
      <button id="revcamera" class="button" ng-click="reverseCamera()"><i class="icon ion-ios-reverse-camera reverse-camera-icon"></i></button> 
      <button id="gallerybutton" class="button" ng-click="getGallery()"></button> 
    </ion-pane>	
    
<!--         <script type="text/javascript" src="cordova.js"></script> -->
        
    </body>
</html>
