<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-pane>
    <ion-content scroll="false">
      <div ng-controller="MasksController" id="controls">
        <div id="face0" class="shades"></div>
        <div id="face1" class="anonymous"></div>
        <div id="face2" class="face"></div>
        <div id="face3" class="face"></div>
        <div id="face4" class="face"></div>
      </div>
    </ion-content>

    <div id="footerbground" class="bar bar-dark ezar ezar-footer"></div>
    <label id="maskselection" class="item item-input item-select mask-selection-pane">
      <div class="input-label text-white">
        Select Mask
      </div>
      <div>
        <select ng-options="mask.name for mask in masks" ng-model="selectedMask" ng-change="selectMask()" class="mask-selection-pane text-white">
        </select>
      </div>
    </label>
    <button id="snapshot" class="button button-large" ng-click="snapshot()"><i class="icon ion-camera camera-icon"></i></button>
    <button id="revcamera" class="button" ng-click="reverseCamera()"><i class="icon ion-ios-reverse-camera reverse-camera-icon"></i></button>
    <a ng-controller="GalleryController" href="#/gallery" id="gallerybutton" class="button"><i id="galleryicon" class="icon ion-images gallery-icon"></i></a>
  </ion-pane>
</ion-view>
