
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: transparent;
    /* background-color: black; */
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


#snapshot {
    position: absolute;
    z-index: 100;
    background-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    width: 72px;
    height: 72px;
    bottom: 15px;
    left: 50%;
    margin-left: -36px;
    border-radius: 50%;
/*    background: url("../img/camera.png") no-repeat top;*/
}

/*
#camera:active {
    background: url("../img/camera_btn_72_04.png") no-repeat top;
}
*/

#revcamera {
    position: absolute;
    z-index: 100;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 15px;
    border-radius: 50%;
/*    background: url("../img/reverse_camera_50.png") no-repeat top;*/
}

#gallerybutton {
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 50px;
    bottom: 25px;
    left: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background: url("../img/npl.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#maskselection {
    border-style: none;
    border-bottom-color: transparent;
}


.cruiser {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('motorcycleshades.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-33px) scale(1.2);
}

.helmetblue {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/bluehelmet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(0px,-23px) scale(2.0);
}

.helmetgreen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/greenhelmet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(0px,-23px) scale(2.0);
}

.helmetyellow {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/yellowhelmet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(0px,-23px) scale(2.0);
}

.helmetred {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/redhelmet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(0px,-23px) scale(2.0);
}

.helmetgreen2 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/greenhelmet2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(0px,-23px) scale(2.0);
}

.helmetpink {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/pinkhelmet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(0px,-23px) scale(2.0);
}

.helmetpurple {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/purplehelmet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(0px,-23px) scale(2.0);
}

.helmetred2 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/redhelmet2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(0px,-23px) scale(2.0);
}

.redcruiser {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/redcruiser.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-55px) scale(1.2);
}

.scooter {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/scooter.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-55px) scale(1.2);
}

.redscooter {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/redscooter.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-55px) scale(1.2);
}

.sportbike {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/sportbike.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-55px) scale(1.2);
}

.redsportbike {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/redsportbike.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-55px) scale(1.2);
}

.touringbike {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/touringbike.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-55px) scale(1.2);
}

.redtouringbike {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: none;
    background-image: url('../img/filters/redtouringbike.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-55px) scale(1.2);
}

#face0 {
}

#face1 {
}

#face2 {
}

#face3 {
}

#face4 {
}

.ezar-footer {
    height: 100px !important;
    bottom: 0px;
}

.ezar-button {
   position: absolute;
   z-index: 100;
   background-color: transparent;
/*   border-style: none; */
}

.hide {
    display: none;
}

.camera-icon {
  color : white;
}

.reverse-camera-icon {
  color : white;
}

.mask-selection-pane {
    background-color: #000 !important;
}

.text-white {
    color: white !important;
}

.gallery-icon {
  color : white !important;
  z-index: 10;
}

.share-button {
  /*position: fixed !important;
  width: 100%;
  bottom: 0%;*/

  position: fixed !important;
  z-index: 100 !important;
  background-color: transparent !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-color: white !important;
  width: 72px !important;
  height: 72px !important;
  bottom: 15px !important;
  left: 15px !important;
  /*margin-left: -36px !important;*/
  border-radius: 50% !important;
}

.delete-button {
  /*position: fixed !important;
  width: 100%;
  bottom: 10%;*/

  position: fixed !important;
  z-index: 100 !important;
  background-color: transparent !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-color: white !important;
  width: 72px !important;
  height: 72px !important;
  bottom: 15px !important;
  right: 15px !important;
  /*margin-left: -36px !important;*/
  border-radius: 50% !important;
}

.black {
  background-color: black !important;
}


.scroller {
  position: relative;
  top: 7%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-style: none !important;
}

.scroller-card {
  background-color: transparent !important;
  width: 70px !important;
  height: 70px !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-radius: 50% !important;
  border-color: white !important;
  text-align: center;
}

.scroller-card:active {
  border-color: green !important;
}

.scroller-card img{
  margin-top: 5%;
  background-color: transparent !important;
  width: 60px !important;
  height: 60px !important;
  border-style: none !important;
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}

.mask-card {
  position: absolute;
  background-color: transparent !important;
  border-style: none !important;
  width: 60px !important;
  height: 60px !important;
}
