
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: transparent;
    /* background-color: black; */
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


#snapshot {
    width: 72px;
    height: 72px;
    bottom: 15px;
    left: 50%;
    margin-left: -36px;
    background: url("../img/camera.png") no-repeat top;
}

/*    
#camera:active {
    background: url("../img/camera_btn_72_04.png") no-repeat top;
}
*/

#revcamera {
    width: 50px;
    height: 50px;
    bottom: 27px;
    right: 10px;
    background: url("../img/reverse_camera_50.png") no-repeat top;
}

#gallery {
    width: 72px;
    height: 72px;
    bottom: 15px;
    background: url("../img/icon-photos-64.png") no-repeat top;
}

.face {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    border: 1px;
    border-color: #ff0000;
    background-image: url('../img/filters/motorcycleshades.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    display: none;
    overflow: visible;
    transform: translate(5px,-32px) scale(1.2);
}

#face0 {
}

#face1 {
}

#face2 {
}

#face3 {
}

#face4 {
}

.ezar-footer {
    height: 100px !important;
    bottom: 0px;
}

.ezar-button {
   position: absolute; 
   z-index: 100;
   background-color: transparent;
   border-style: none; 
}

.hide {
    display: none;
}